{% extends 'base.html.twig' %}

{% block body %} 
    <div class="jumbotron homesection">
      <div class="container">
      <br /><br /><br /><br /><br />
        <h1>Hello!</h1>
        <p>Using this application you can manage your Company Projects</p>
        <p><a class="btn btn-primary btn-lg" href="{{ url('app_projects_index') }}" role="button">Start Now &raquo;</a></p>
      </div>
    </div>
{% endblock %}
 